<!DOCTYPE html>
<html lang="en">
<head>
{{>headerlinks}}
</head>
<body>
   {{>navbar}}

<!-- Header -->

<div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                
                <div class="col-md-6 col-12 main_header_right align-items-center">
                <figure>
                    <img src="images/images.png" alt="Ronik" class="img-fluid" title="Ronik Gandhi">
                </figure>    
                </div>

                <div class="col-md-6 col-12 main_header_left">
                <p> Welcome To Weather App </p>
                <h1> I AM A<span class="cor-bg"> MERN STACK </span> DEVELOPER.(FRESHERS)</h1>
                <a href="https://gandhironik1405.github.io/Personal-PortFolio-Website/" target="_Ronik"><button> ABOUT ME</button></a>
                </div> 
        </div>
    </div>
</div>
{{>footer}}
</body>
</html>